$pink: #bc3bad;
$NavyBlue: #322457;
$grey: #a199b1;
$darkPink: #b72ba8;
$lightGray: #e5dfdf;
$borderPink: #db95d2;
$borderInside: #f2d1e6;
$main: #fef2f2;

.auth,
.auth-active {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    z-index: 1;
}
.auth {
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    &__content {
        width: 1200px;
        // height: 600px;
        height: 700px;
        position: relative;
    }
}
.auth-active {
    visibility: visible;
    pointer-events: all;
    opacity: 1;
    z-index: 999;
}
.signup {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #fdf9ee;
    // background-color: $main;
    border-radius: 20px;
    position: relative;

    &__close {
        position: absolute;
        top: 15px;
        right: 15px;
        bottom: 0;
        height: 30px;
        width: 30px;
        cursor: pointer;
    }

    &__left {
        width: 50%;
        // background-color: #5ee5b5;
    }
    &__right {
        width: 50%;

        &-container {
            height: 100%;
            max-width: 360px;
            margin: 0 auto;
        }
    }
    &__header {
        // height: 40%;
        height: 33%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        &-container {
            text-align: left;
        }

        &-title {
            color: $NavyBlue;
            font-size: 40px;
            font-weight: 700;
        }

        &-subtitle {
            // color: #5c5a58;
            // color: #939393;
            color: $grey;
            margin-top: 10px;
        }
    }

    &__cards {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        &-container {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &-title {
            margin-left: 5px;
            color: $grey;
            margin-bottom: 5px;
        }
        &-login {
            font-size: 1.2em;
            text-align: left;
            margin-left: 5px;
            a {
                color: $pink;
                svg {
                    height: 15px;
                    width: 15px;
                    margin-bottom: -2px;
                    -webkit-transform: rotate(180deg);
                    -moz-transform: rotate(180deg);
                    -ms-transform: rotate(180deg);
                    -o-transform: rotate(180deg);
                    transform: rotate(180deg);
                }
            }
        }
        &-footer{
            display: flex;
            flex-direction: column;
            margin-top: 40px;
        }
    }

    &__card {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: 2px solid $lightGray;
        height: 130px;
        width: 130px;
        border-radius: 4px;
        margin: 5px;
        transition: 0.3s;

        &-title {
            color: $NavyBlue;
        }

        &-img {
            // display: block;
            height: 24px;
            width: 24px;
            svg {
                height: 24px;
                width: 24px;
                color: $NavyBlue !important;
            }
        }
        &:hover {
            border: 2px solid $darkPink;
            transition: 0.3s;
        }
    }

    &__footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__form {
        width: 100%;
        margin-bottom: 100px;
    }

    &__input {
        padding-bottom: 20px;
        text-align: left;
        label {
            font-weight: 700;
            color: #867d9e;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        position: relative;
        margin-top: 10px;
    }

    &__field {
        outline: none;
        width: 100%;
        // font-size: 13px;
        font-size: 18px;
        font-weight: 500;
        color: $NavyBlue;
        border: none;
        z-index: 1;
        border-radius: 5px;
        padding: 10px 12px;
        height: 50px;
        line-height: 16px;
        background-color: #fbe8ec;
        caret-color: $darkPink;

        &:hover + .signup__border::after,
        &:focus + .signup__border::after,
        &:hover + .signup__border-error::after,
        &:focus + .signup__border-error::after {
            border-color: $borderPink;
            box-shadow: inset 0 0 5px 5px $borderInside;
            opacity: 1;
        }
        &:hover,
        &:focus {
            background-color: #fdf9ee;
        }
    }

    &__border,
    &__border-error {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        pointer-events: none;
    }

    &__border::before,
    &__border-error::before {
        // border: 1px solid rgba(0, 0, 0, 0.16);
    }

    &__border::after,
    &__border::before,
    &__border-error::after,
    &__border-error::before {
        z-index: 13;
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }

    &__border::after {
        border: 2px solid rgb(92, 229, 180);
        z-index: 14;
        opacity: 0;
        transition: opacity 0.2s ease-in-out 0s, border-color 0.2s ease-in-out 0s;
    }

    &__border-error::after {
        border: 2px solid rgb(242, 78, 98);
        transition: opacity 0.2s ease-in-out 0s, border-color 0.2s ease-in-out 0s;
        opacity: 1;
    }

    &__error {
        padding: 4px 12px;
        font-size: 12px;
        line-height: 14px;
        font-weight: 400;
        color: rgb(242, 78, 98);

        &::selection {
            background-color: rgb(178 236 216);
        }
    }
}
span::selection {
    background-color: rgb(222 250 240);
}

.modal__btn-log,
.modal__btn-sign {
    background-color: #b72ba8;
    width: max-content;
    border-radius: 6px;
    cursor: pointer;
    color: white;
    font-weight: 700;
    transition: background-color 0.2s ease-in-out 0s;
}

.modal__btn-log {
    padding: 5px 60px;
}

.modal__btn-sign {
    // padding: 5px 20px;
    height: 55px;
    width: 150px;
}

.modal__btn-log:hover,
.modal__btn-sign:hover {
    background-color: rgb(70 228 171);
}

.createAc {
    display: flex;
    color: #5ee5b5;
}

.createAc div {
    cursor: pointer;
}

// .login-container {
//     display: flex;
//     align-items: center;
//     justify-content: space-around;
// }

.reset__btn-del {
    background-color: rgb(242, 78, 98);
    height: 40px;
    width: max-content;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    font-weight: 700;
    transition: background-color 0.2s ease-in-out 0s;
    width: 120px;
}

.reset__btn-del:hover {
    background-color: rgb(217, 70, 88);
}
